
<header class="header">
  <nav class="nav">
    <div class="menu-phone">
      <button class="menu-phone__button">Menu</button>
      <div></div>
    </div>
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="/infini">
          <svg class="menu__img">
            <use href="img/sprite.svg#logo"></use>
          </svg></a></li>
      <li class="menu__item"><a class="menu__link" href="/products.html">Products</a></li>
      <li class="menu__item"><a class="menu__link" href="/about.html">About</a></li>
      <li class="menu__item"><a class="menu__link" href="/contact.html">Contact</a></li>
    </ul><a class="favorites" href="#">
      <div class="favorites__text">Favorites</div>
      <div class="favorites__block">
        <svg class="favorites__img">
          <use href="img/sprite.svg#heart"></use>
        </svg><span class="favorites__counter">0</span>
      </div></a><a class="search" href="#">
      <svg class="search__img">
        <use href="img/sprite.svg#search"></use>
      </svg></a>
  </nav>
</header>