section.about-block1.about__about-block1
    div.about-block1__box.container
        div.title.about-block1__title.js-fadein-block
            h1.title__h1.js-fadein-elem From the<br> ground,<br> upscale
        div.story.about-block1__story.js-fadein-block
            h2.story__title.js-fadein-elem Our<br> Story
            p.story__text.js-fadein-elem
                | INFINI lies somewhere between creative visions 
                | and marble veins, serving as the bridge between 
                | human and natural design. Sourcing from around the 
                | world, we are in the business of stones — and stories.
            p.story__text.js-fadein-elem
                | As a supplier of premium quality fine stone, INFINI’s 
                | mission is to connect North American businesses and 
                | consumers with exotic, exclusive, exceptional materials 
                | in a way that is respectful of local communities and 
                | environments. A family-run company, we have been in the 
                | industry for close to three decades and have the experience 
                | and expertise to ensure our customers are never between 
                | a rock and a hard place.
        div.foundation.about-block1__foundation.js-fadein-block
            h2.foundation__title.js-fadein-elem Our<br> Foundation
            p.foundation__text.js-fadein-elem
                | INFINI is a natural extension of Divyashakti Granites (DSG). 
                | A family-run business for nearly 30 years, it has become a 
                | regional leader in India with international presence. 
                | INFINI will continue its legacy of innovation and 
                | reinvention in the world around it.
        div.beauty.about-block1__beauty.js-fadein-block
            blockquote.beauty__quote.js-fadein-elem <br>Beauty<br>is more<br><span>than<br>stone deep.<br></span>