section.about-block2.about__about-block2
    div.about-block2__box.container
        div.beliefs.about-block2__beliefs.js-fadein-block
            h2.beliefs__title.js-fadein-elem Our<br> Values
            p.beliefs__text.js-fadein-elem
                | Infini values and upholds Conservation of Environment 
                | in a big way. We are reliant on the Earth for our source 
                | of life and we believe we need to do our part to give back. 
                | In keeping with the tradition of DSG, we are advocates of 
                | environmental consciousness and social responsibility.
            p.beliefs__text.js-fadein-elem
                | DSG recently elevated its environmental commitment through 
                | solar plants that support 50 percent of the company’s 
                | electricity requirements for production units — the maximum 
                | allowed by the government. This measure of the company makes 
                | use of the natural and abundantly available renewable source 
                | of energy – Solar Energy, thereby reducing it’s carbon footprint. 
                | The other half of the energy produced by the company is provided 
                | at a very nominal fee to the community through the Administrative channels.
                <br><br>
                | Beliefs are the bedrock of any brand — and INFINI’s are strong.
        div.involvement.about-block2__involvement.js-fadein-block
            h2.involvement__title.js-fadein-elem Our<br> Involvement
            p.involvement__text.js-fadein-elem
                | INFINI aims to donate three percent of its profits 
                | to St. Jude’s Children’s Hospital in the United States 
                | to promote research in childhood cancer, on achieving self 
                | sustainance. As part of it’s commitment to social responsibility - 
                | DSG, provides mineral water plants to many villages around the 
                | factory, furniture and computer equipment to schools in more than 
                | 20 villages, contributing to the health and literacy of the country.