section.browse-product.about__browse-product.js-fadein-block
    a.browse-product__link.js-word.js-fadein-elem(href="#")
        span B
        span r
        span o
        span w
        span s
        span e
        span &ensp;
        span P
        span r
        span o
        span d
        span u
        span c
        span t
        span s