include ../../components/button/button.pug
section.design.main__design.js-design.js-fadein-block
    div.design__box.container
        h2.design__title.js-fadein-elem Design <br> with nature
        p.design__text.js-fadein-elem
            | INFINI is a supplier of premium quality fine stone, 
            | connecting businesses and customers with exclusive 
            | and exotic materials, exceptional service and aimed 
            | at today's discerning and digitally-savvy generation.
        +button('See our selection', 'js-fadein-elem', 'design__button')
        div.design__image-box.js-fadein-elem
            img.design__image(src="img/nature.jpg" alt="Design with nature")