include ../../components/button/button.pug
include ../../components/product-section/product-section.pug
section.possibilities.main__possibilities.js-possibilities.js-fadein-block
    div.possibilities__box.container
        div.possibilities__part
            h2.possibilities__title.js-fadein-elem Infinite <br> Possibilities
            p.possibilities__text.js-fadein-elem
                | Stone to us is not just our purpose, but our passion.
                | We never see simply a slab of rock; we see millennia of
                | formation in the Earth, the precision and perseverance
                | of those who harvested it, and the breathtaking beauty
                | it will become. Each time someone brings INFINI into
                | their home, we hope they see that story, too.
            +button('See our catalog', 'js-fadein-elem', 'possibilities__button')
            +product-section('Granite', '#', 'product-section-granite', 'js-fadein-elem')
        div.possibilities__part
            +product-section('Exotic', '#', 'product-section-exotic ', 'product-section-to-right js-fadein-elem')