section.quote.main__quote.js-quote
    a.quote__link(href="#") 
        span G
        span e
        span t
        span &ensp;
        span a
        span &ensp;
        span Q
        span u
        span o
        span t
        span e