.quote{
    height: 100vmin;
    background-color: #000;
    display: flex;

    &__link{
        margin: auto;
        text-align: center;
        animation: translateLetters 1.2s infinite alternate ease-in-out paused 700ms;

        &:hover{
            animation-play-state: running;
            span{
                transform: translateY(-30px);
            }
        }

        & span{
            display: inline-block;
            font-family: 'GT Sectra Fine', serif;
            color: #fff;
            font-size: 140px;
            position: relative;
            transform: translateY(30px);
            transition: all 500ms;
        }
    }
}

@keyframes translateLetters{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(30px);
    }
}

@keyframes translateLettersPhone{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(10px);
    }
}

@media (max-width: 1024px) {
    .quote__link span{
        font-size: 90px;
    }
}

@media (max-width: 768px) {
    .quote__link{
        animation-name: translateLettersPhone;

        & span{
            font-size: 50px;
            transform: translateY(10px);            
        }

        &:hover span{
            transform: translateY(-10px);
        }
    }
}