section.slideshow
    a.slideshow__link(href="#")
        div.slideshow__slide
            img.slideshow__image(src="https://i.ibb.co/myYXRnP/granite.jpg" alt="granite")
        div.slideshow__slide
            img.slideshow__image(src="https://i.ibb.co/RDKvxMC/exotic.jpg" alt="exotic")
        div.slideshow__black
        h1.slideshow__title Granite