include ../../components/button/button.pug
section.values.main__values.js-values.js-fadein-block
    div.values__box.container
        div.values__img-box.js-fadein-elem
            img.values__img(src="img/values.jpg", alt="Values image")
        div.values__text-box
            h2.values__title.js-fadein-elem Our <br> &emsp; Values
            p.values__text.js-fadein-elem
                | Too often in today’s world, products just appear in 
                | our lives as if by magic, whether it be on shelves 
                | in the store or in a box at our door. What INFINI 
                | offers is a connection — to the Earth and every person 
                | who helped bring it to you. Because meaning matters, 
                | and a story can be the difference between a stone and “stunning.”
            +button('See who we are', 'js-fadein-elem', 'values__button')