div.contact.js-fadein-block
    div.contact__box.container
        div.contact__text-part
            h1.contact__title.js-fadein-elem Get in <br> Touch
            p.contact__text.js-fadein-elem
                | We know every stone is a piece of art — now, 
                | we want to help you procure your art pieces. 
                | If you have a question, concern or want 
                | to connect, please fill the form.
            p.contact__address.js-fadein-elem
                | 19014 64th Ave S, Kent <br> WA 98032
            div.contact__phone.js-fadein-elem
                a.contact__phone-link(href="tel:+18036913667") 1 (803) 691 3667
        div.contact__form-part
            form.contact__form(action="" method="post" name="contactForm")
                div.contact__entry-field.js-fadein-elem
                    label.contact__label(for="name") * Name
                    input.contact__input(type="text" id="name" name="name" required)
                div.contact__entry-field.js-fadein-elem
                    label.contact__label(for="email") * Email
                    input.contact__input(type="text" id="email" name="email" required)
                div.contact__entry-field.js-fadein-elem
                    label.contact__label(for="company") Company
                    input.contact__input(type="text" id="company" name="company")
                div.contact__entry-field.js-fadein-elem
                    label.contact__label(for="phone") Phone
                    input.contact__input(type="text" id="phone" name="phone")
                div.contact__message.js-fadein-elem
                    label.contact__label(for="message") * Message
                    textarea.contact__textarea(id="message" name="message" required)
                div.contact__send.js-fadein-elem
                    input.contact__send-button(type="button" value="Send request")