@import 'slideshow.scss';
@import 'design.scss';
@import 'possibilities.scss';
@import 'values.scss';
@import 'quote.scss';

.index{
    &__slideshow,
    &__possibilities,
    &__values{
        margin-bottom: 200px;
    }

    &__design{
        margin-bottom: 300px;
    }
}

@media (max-width: 1280px) {
    .index{
        &__design{
            margin-bottom: 200px;
        }
    }
}

@media (max-width: 768px) {
    .index{
        &__slideshow,
        &__design,
        &__possibilities,
        &__values{
            margin-bottom: 100px;
        }
    }
}