section.quote.index__quote.js-fadein-block
    a.quote__link.js-word.js-fadein-elem(href="#") 
        span G
        span e
        span t
        span &ensp;
        span a
        span &ensp;
        span Q
        span u
        span o
        span t
        span e