mixin head(title, script)
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
        link(rel="stylesheet" href="style.css")
        link(rel="icon" href="img/icon.png" type="image/png")
        title=title
        script(src="script/script.js" defer)
        script(src='script/header.js' defer)
        script(src=script defer)