mixin product-section(title, link, classNameBackground, className)
    div.product-section(class=className)
        div.product-section__box(class=classNameBackground)
            a.product-section__link(href=link)
                div.product-section__inside
                    h3.product-section__title=title
                    span.product-section__label View all