.product-section-granite{
    background: url(img/granite2.jpg) center no-repeat;
}

.product-section-exotic{
    background: url(img/exotic2.jpg) center no-repeat;
}

.product-section-to-right{
    margin-left: auto;
}

.product-section{
    width: 500px;
    height: 700px;

    &__box{
        width: 100%;
        height: 100%;
        transition: background-size 500ms;
        background-size: 700px;
    }

    &__box:hover{
        background-size: 800px;

        & .product-section__label::before{
            opacity: 1;
        }
    }

    &__link{
        width: 100%;
        height: 100%;
        padding: 35px;
        display: block;        
    }

    &__inside{
        width: 100%;
        height: 100%;
        background-color: #000;
        position: relative;        
    }

    &__title{
        font-family: 'Prata', serif;
        font-size: 50px;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__label{
        font-weight: bold;
        color: #fff;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        
        &::before{
            content: '';
            width: 100%;
            height: 2px;
            position: absolute;
            bottom: -5px;
            background-color: #fff;
            transition: all 500ms;
            opacity: 0;            
        }
    }
}

@media (max-width: 1280px) {
    .product-section{
        width: 350px;
        height: 500px;
        background-size: 500px;

        &__title{
            font-size: 40px;
        }

        &__box:hover{
            background-size: 570px;
        }
    }
}

@media (max-width: 1024px) {
    .product-section{
        width: 280px;
        height: 400px;

        &__title{
            font-size: 30px;
        }

        &__link{
            padding: 20px;
        }
    }
}

@media (max-width: 768px) {
    .product-section{
        width: 100%;
        height: 500px;
        background-size: 700px;

        &__title{
            font-size: 40px;
        }

        &__box:hover{
            background-size: 800px;
        }
    }
}