.header{
    width: 100%;
    padding: 50px 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.phone-menu{
    display: none;
    position: relative;

    &__button{
        background-color: transparent;
        position: relative;
        z-index: 100;
        color: #000;
    }

    &__box{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #000;
        display: flex;
        flex-direction: column;
        transition: transform 500ms ease-out;
        transform: translateX(-100%);
        z-index: 50;
    }

    &__list{
        width: 100%;
        padding: 20px;
        margin: auto 0;
    }

    &__item:not(:last-child){
        margin-bottom: 20px;
    }

    &__link{
        font-size: 20px;
        line-height: 150%;
        color: #fff;
    }
}

.phone-menu_active .phone-menu__button{
    color: #fff;
}

.phone-menu_active .phone-menu__box{
    transform: none;
}

.menu{
    list-style: none;
    display: flex;
    align-items: center;

    &__item{
        position: relative;
    }

    &__item:not(:last-child){
        margin-right: 30px;
    }

    &__item:not(:first-child)::before{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        opacity: 0;
        transition: opacity 300ms;
    }

    &__item:not(:first-child):hover::before{
        opacity: 1;
    }

    &__img{
        width: 100px;
        height: 40px;
    }
}

.search{
    width: 20px;
    height: 20px;
    margin: auto;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    &__img{
        width: 100%;
        height: 100%;
        display: block;        
    }
}

.favorites{
    display: flex;
    align-items: center;

    &__text{
       margin-right: 20px;
       position: relative;
    }

    &__text::before{
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        opacity: 0;
        transition: opacity 300ms;
    }

    &:hover .favorites__text::before{
        opacity: 1;
    }

    &__block{
        display: flex;
        align-items: center;
    }

    &__img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
        display: block;
    }

    &__counter::before{
        content: '(';
    }

    &__counter::after{
        content: ')';
    }
}

@media (min-width: 1024px) {

}

@media (max-width: 1280px) {
    .header{
        padding: 30px 40px;
    }
}

@media (max-width: 1024px) {
    .header{
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .header{
        justify-content: end;
        background-color: #fff;
    }

    .favorites{
        margin: 0 25px 0 auto;

        &__text{
            display: none;
        }
    }

    .search{
        position: static;
        margin: auto 0;
    }
}

@media (max-width: 480px) {
    .header{
        padding: 20px;
    }

    .phone-menu{
        display: block;
    }

    .menu{
        display: none;
    }
}