header.header
    nav.nav
        div.menu-phone
            button.menu-phone__button Menu
            div.
        ul.menu
                li.menu__item
                    a.menu__link(href="/infini")
                        svg.menu__img
                            use(href="img/sprite.svg#logo")
                li.menu__item
                    a.menu__link(href="/products.html") Products
                li.menu__item
                    a.menu__link(href="/about.html") About
                li.menu__item
                    a.menu__link(href="/contact.html") Contact
        a.favorites(href="#")
            div.favorites__text Favorites
            div.favorites__block
                svg.favorites__img
                    use(href="img/sprite.svg#heart")
                span.favorites__counter 0
        a.search(href="#")
            svg.search__img
                use(href="img/sprite.svg#search")