footer.footer
    div.footer__box
        p.footer__text Why Locomotive? © Infini Inc. 2022
        a.footer__link(href="#")
            svg.footer__img
                use(href="img/sprite.svg#logo")