doctype html 
html(lang='en')
    include components/head/head.pug
    +head('About', 'script/about.js')
    body.body
        include components/header/header.pug
        div.about.container "About" section under development
        include components/footer/footer.pug