doctype html 
html(lang='en')
    include components/head/head.pug
    +head('Contact', 'script/contact.js')
    body.body
        include components/header/header.pug
        main.contact
            include components/arrow-up/arrow-up.pug
            include pages/contact/request.pug
        include components/footer/footer.pug