doctype html 
html(lang='en')
    include components/head/head.pug
    +head('Contact', 'script/contact.js')
    body.body
        include components/header/header.pug
        include pages/contact/get-in-touch.pug
        include components/footer/footer.pug