doctype html 
html(lang='en')
    include components/head/head.pug
    +head('Infini', 'script/main.js')
    body.body
        include components/header/header.pug
        div.main
            include pages/main/slideshow.pug
            include pages/main/design.pug
            include pages/main/possibilities.pug
            include pages/main/values.pug
            include pages/main/quote.pug
        include components/footer/footer.pug