doctype html 
html(lang='en')
    include components/head/head.pug
    +head('Products', 'script/products.js')
    body.body
        include components/header/header.pug
        div.products.container "Product" section under development
        include components/footer/footer.pug