doctype html 
html(lang='en')
    include components/head/head.pug
    +head('Products', 'script/products.js')
    body.body
        include components/header/header.pug
        main.main
            include components/arrow-up/arrow-up.pug
            div.products.container "Product" section is under development
        include components/footer/footer.pug