@import 'reset-css.scss';
@import 'fonts.scss';

* {
    font: 400 16px/120% 'GT Walsheim Pro', sans-serif;
}

.body{
    padding-top: 140px;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    width: 1260px;
    height: 100%;
    padding: 0 30px;
    margin: 0 auto;
}

.js-fadein-elem-visible{
    transform: none;
    opacity: 1;
}

.js-fadein-elem{
    transform: translateY(100px);
    opacity: 0;
}

@media (max-width: 1280px) {
    *{
        font-size: 14px;
    }

    .body{
        padding-top: 100px;
    }
    .container{
        width: 850px;
    }
}

@media (max-width: 1024px) {
    .body{
        padding-top: 60px;
    }
    .container{
        width: 680px;
    }
}

@media (max-width: 768px) {
    .container{
        width: 100%;
    }    
}
/* Переиспользуемые компоненты */
@import '../components/button/button.scss';
@import '../components/product-section/product-section.scss';

/* Статичные блоки */
@import '../components/header/header.scss';
@import '../components/footer/footer.scss';

/* Main */
@import '../scss/main.scss';
@import '../pages/main/slideshow.scss';
@import '../pages/main/design.scss';
@import '../pages/main/possibilities.scss';
@import '../pages/main/values.scss';
@import '../pages/main/quote.scss';

/* Products */
@import '../scss/products.scss';

/* About */
@import '../scss/about.scss';

/* Contact */
@import '../scss/contact.scss';
@import '../pages/contact/get-in-touch.scss';
